@model RoleTopMVC.ViewModels.DashboardViewModel
    <main>
        <h2>Dashboard</h2>
        <section id="status-eventos">
            <h3>Status dos Eventos</h3>
            <div id="painel">
                <div class="box-status-eventos aprovados">
                    <h4>Aprovados</h4>
                    <p>@Model.EventosAprovados</p>
                </div>
                <div class="box-status-eventos pendentes">
                    <h4>Pendentes</h4>
                    <p>@Model.EventosPendentes</p>
                </div>
                <div class="box-status-eventos reprovados">
                    <h4>Reprovados</h4>
                    <p>@Model.EventosReprovados</p>
                </div>
            </div>
        </section>

        <section id="lista-eventos">
            <h3>Lista de eventos</h3>
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome Evento</th>
                        <th rowspan="2">Data Evento</th>
                        <th rowspan="2">Horario</th>
                        <th >Tipo de Evento</th>
                        <th >Serviço Adicional</th>
                        <th  rowspan="7">Aprovar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var evento in Model.Eventos )
                    {
                        <tr>
                            <td>@evento.NomeEvento</td>
                            <td>@evento.DataEvento</td>
                            <td>@evento.Horario</td>
                            <td>@evento.TiposEvento.Nome</td>
                            <td>@evento.ServicosAdicionais.Nome</td>
                            <td><a href='@Url.Action("Aprovar", "Usuario", new {id = @evento.Id})'><i class="fas fa-check"></i></a></td>
                            <td><a href='@Url.Action("Reprovar", "Usuario", new {id = @evento.Id})'><i class="fas fa-times"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>

    </main>