@model RoleTopMVC.ViewModels.UsuarioViewModel
@{
    ViewData["Title"] = "Usuario - RoleTop";
}
<main>
        <h2>@Model.NomeCliente</h2>

        <img src="/img/icone usuário.png" id="icone-usuario" />

        <section class="topicos">
            <p>Minha Conta</p>
            <br />
            <br />
            <br />
            <br />
                <h2>Cadastre seu evento</h2>
        <section id="cadastro">
            <form method="POST" action='@Url.Action("Registrar", "Usuario")'>
                
                <div>
                    <label for="nome">Nome do Evento</label>
                    <br />
                    <input id="nome" type="text" maxlength="20" minlength="3"  name="nomeEvento"/>
                </div>

                <div>
                    <label for="data do evento">Data do Evento</label>
                    <br />
                    <input id="data do evento" type="date" maxlength="10" minlength="10" name="data_evento"/>
                </div>

                <div>
                    <label for="hora">Horário do Evento</label>
                    <br />
                    <input id="hora" type="time" maxlength="5" minlength="5" name="horario" />
                </div>

                <div>
                    <label for="pagamento">Forma de Pagamento</label>
                    <br />
                    <input id="pagamento" type="text" maxlength="5" minlength="5" name="pagamento"/>
                </div>

                <label for="servicosAdicionais">Serviços Adicionais</label>
                <br />
                <select id="servicosAdicionais" name="servicosAdicionais" >
                    <option value=""  disabled selected>Selecione</option>
                    @foreach (var servicosAdicionais in Model.ServicosAdicionais)
                    {
                        <option value=@servicosAdicionais.Nome>@servicosAdicionais.Nome por @servicosAdicionais.Preco

                        </option>
                    }

                </select>
                <br />
                <label for="tiposEvento">Tipo de Evento</label>
                <br />
                <select id="tiposEvento" name="tiposEvento" >
                    <option value=""  disabled selected>Selecione</option>
                    @foreach (var tiposEvento in Model.TiposEvento)
                    {
                        <option value=@tiposEvento.Nome>@tiposEvento.Nome por @tiposEvento.Preco

                        </option>
                    }
                </select>
                <br />
                <label for="descricao"> Descrição do Evento</label>
                <br />
                <textarea placeholder="Descrição do evento"name="descricao" id="descricao" ></textarea>
                    
                <br />
                <input type="submit" value="Cadastrar evento" />
            </form>
        </section>

        <br />
        <br />

        <p>Meus Eventos</p>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data do Evento</th>
                <th>Horário</th>
                <th>Tipo de Evento</th>
                <th>Descrição</th>
                <th>Serviços Adicionais</th>
                <th>Preço Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach( var evento in Model.Eventos ) {
                <tr>
                    <td>@evento.NomeEvento</td>
                    <td>@evento.DataEvento</td>
                    <td>@evento.Horario</td>
                    <td>@evento.TiposEvento.Nome</td>
                    <td>@evento.Descricao</td>
                    <td>@evento.ServicosAdicionais.Nome</td>
                    <td>@evento.PrecoTotal</td>
                </tr>
            }
        </tbody>
    </table>

            <p>Cancelamentos</p>
            
        </section>
    </main>